{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}


{% block body %}
	<div class="banner">
		<h1>
			Demain commence ici
		</h1>
		<h2>
			trouvez un appartement à louer
		</h2>
		<p class="fs-5">Commencez votre recherche !</p>
		{% if error %}
			<div class="alert alert-danger">Veuillez définir au moins un champs.</div>
		{% endif %}
		{{ form_start(form) }}
		<div class="row">
			<div class="col">{{ form_row(form.city) }}</div>
		</div>
		<div class="row">
			<div class="col">{{ form_row(form.rooms) }}</div>
			<div class="col">{{ form_row(form.maxPrice) }}</div>
		</div>
		<div class="row d-flex justify-content-center">
			<button class="btn search__button" type="submit" style="width: 250px;">Voir les appartements</button>
		</div>
		{{ form_end(form) }}

	</div>
	<div class="container">
		<h1 class="fs-1 fw-bold text-center mb-4">Nos hébergements</h1>
		<div class="row">
			{% for housing in housings %}
				<div class="col-lg-4">
					<div class="text-center">
						<a href="{{ path('app_view_housing', {slug: housing.slug, id: housing.id}) }}">
							{% if housing.filename  %}
								<img src="{{ vich_uploader_asset(housing, 'imageFile') }}" alt="Image" style="width: 300px; heigth: 240px">
							{% else %}
								<img src="/images/housings/empty.jpg" alt="Image" style="width: 300px; height: 240px">
							{% endif %}
						</a>
						<div class="card-body text-center">
							<h5 class="housing__title card-title">
								<a href="{{ path('app_view_housing', {slug: housing.slug, id: housing.id}) }}" class="fw-bold text-decoration-none">{{ housing.title }}</a>
							</h5>
							<p style="margin-bottom: 0px;">{{housing.quarter.quarterName}}
								-
								{{ housing.bedrooms }}
								chambres
							</p>
							<div class="fw-bold fs-3 mb-4">{{ housing.formattedPrice }}
								Fg</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<h1 class="fs-1 fw-bold text-center mt-4">Lieux</h1>
		<div class="row">
			{% for quarter in quarters %}
				<div class="col-lg-4">
					<div class="text-center">
						<a href="{{ path('app_view_quarter', { slug: quarter.slug }) }}">
							{% if quarter.filename  %}
								<img src="{{ vich_uploader_asset(quarter, 'imageFile') }}" alt="Image" style="width: 300px; heigth: 240px">
							{% else %}
								<img src="/images/housings/empty.jpg" alt="Image" style="width: 300px; height: 240px">
							{% endif %}
							<h5 class="quarter__title card-title">
								<a href="{{ path('app_view_quarter', { slug: quarter.slug }) }}" class="fw-bold text-decoration-none">{{ quarter.quarterName }}</a>
							</h5>
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
