{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}


{% block body %}
	<div class="p-5 mb-4 bg-light rounded-3 d-flex flex-column align-items-center">
		<h2>
			Location appartement :
		</h2>
		<h2>

			trouvez un appartement à louer
		</h2>
		<p class="fs-5 text-center">Commencez votre recherche !</p>
		{{ form_start(form) }}
		<div class="row">
			<div>{{ form_row(form.city) }}</div>
		</div>
		<div class="row">
			<div class="col">{{ form_row(form.rooms) }}</div>
			<div class="col">{{ form_row(form.maxPrice) }}</div>
		</div>
		<button class="btn btn-primary col" type="submit">Voir les appartements</button>
		{{ form_end(form) }}
	</div>
	<div class="container">
		<h1 class="fs-1 fw-bold">Nos hébergements</h1>
		<div class="row">
			{% for housing in housings %}
				<div class="col-3">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{ path('app_view_housing', {slug: housing.slug, id: housing.id}) }}" class="fw-bold text-decoration-none">{{ housing.title }}</a>
							</h5>
							<p class="card-text">{{housing.quarter.quarterName}}
								-
								{{ housing.bedrooms }}
								chambres
							</p>
							<div class="text-primary fw-bold fs-3">{{ housing.formattedPrice }}
								Fg</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<h1 class="fs-1 fw-bold">Lieux</h1>
	</div>
{% endblock %}
