{% extends 'base.html.twig' %}

{% block title %}Gestion des catégories
{% endblock %}

{% block body %}

	<div class="container">
		<h1 class="fs-1 fw-bold">Gestion des catégories</h1>

		{% for message in app.flashes("success") %}
			<div class="alert alert-success">{{ message }}</div>
		{% endfor %}

		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Nom</th>
					<th>Date de création</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for category in categories %}
					<tr>
						<td>{{ category.id }}</td>
						<td>{{ category.categoryName }}</td>
						<td>{{ category.createdAt ? category.createdAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>
							<a href="{{ path('app_category_show', {'id': category.id}) }}" class="btn btn-secondary">Voir</a>
							<a href="{{ path('app_category_edit', {'id': category.id}) }}" class="btn btn-primary">Editer</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="4">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('app_category_new') }}" class="btn btn-primary">Ajouter une nouvelle catégorie</a>
	</div>


{% endblock %}
