{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <h1>Client</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>ClientName</th>
                <td>{{ client.clientName }}</td>
            </tr>
            <tr>
                <th>ClientNumber</th>
                <td>{{ client.clientNumber }}</td>
            </tr>
            <tr>
                <th>ClientEmail</th>
                <td>{{ client.clientEmail }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ client.createdAt ? client.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_client_index') }}">back to list</a>

    <a href="{{ path('app_client_edit', {'id': client.id}) }}">edit</a>

    {{ include('client/_delete_form.html.twig') }}
{% endblock %}
