{% extends 'base.html.twig' %}

{% block title %}Provider index{% endblock %}

{% block body %}
    <h1>Provider index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ProviderName</th>
                <th>ProviderNumber</th>
                <th>ProviderEmail</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for provider in providers %}
            <tr>
                <td>{{ provider.id }}</td>
                <td>{{ provider.providerName }}</td>
                <td>{{ provider.providerNumber }}</td>
                <td>{{ provider.providerEmail }}</td>
                <td>{{ provider.createdAt ? provider.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_provider_show', {'id': provider.id}) }}">show</a>
                    <a href="{{ path('app_provider_edit', {'id': provider.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_provider_new') }}">Create new</a>
{% endblock %}
