{% extends 'base.html.twig' %}

{% block title %}Provider
{% endblock %}

{% block body %}

	<div class="container">
		<h1 class="fs-1 fw-bold">Informations sur le fournisseur :
			{{ provider.providerName }}</h1>

		<table class="table table-striped">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ provider.id }}</td>
				</tr>
				<tr>
					<th>Nom</th>
					<td>{{ provider.providerName }}</td>
				</tr>
				<tr>
					<th>Numéro de téléphone</th>
					<td>{{ provider.providerNumber }}</td>
				</tr>
				<tr>
					<th>Email</th>
					<td>{{ provider.providerEmail }}</td>
				</tr>
				<tr>
					<th>Date de création</th>
					<td>{{ provider.createdAt ? provider.createdAt|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
			</tbody>
		</table>

		<a href="{{ path('app_provider_index') }}" class="btn btn-secondary">Retour à la liste des fournisseurs</a>

		<a href="{{ path('app_provider_edit', {'id': provider.id}) }}" class="btn btn-primary">Modifier</a>

		{{ include('provider/_delete_form.html.twig') }}

	</div>
{% endblock %}
