{% extends 'base.html.twig' %}

{% block title %}Region
{% endblock %}

{% block body %}

	<div class="container">
		<h1 class="fs-1 fw-bold">Informations sur la region:
			{{ region.regionName }}</h1>

		<table class="table table-striped">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ region.id }}</td>
				</tr>
				<tr>
					<th>Nom</th>
					<td>{{ region.regionName }}</td>
				</tr>
				<tr>
					<th>Date de création</th>
					<td>{{ region.createdAt ? region.createdAt|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
			</tbody>
		</table>

		<a href="{{ path('app_region_index') }}" class="btn btn-secondary">Retour à la liste des regions</a>

		<a href="{{ path('app_region_edit', {'id': region.id}) }}" class="btn btn-primary">Modifier</a>

		{{ include('region/_delete_form.html.twig') }}

	</div>
{% endblock %}
