{{ form_start(form) }}
<div class="row">
	<div class="col">{{ form_row(form.title) }}</div>
	<div class="col">{{ form_row(form.price) }}</div>
	<div class="col">{{ form_row(form.category) }}</div>
</div>
<div class="row">
	<div class="col">{{ form_row(form.numberOfRooms) }}</div>
	<div class="col">{{ form_row(form.bedrooms) }}</div>
	<div class="col">{{ form_row(form.provider) }}</div>
	<div class="col">{{ form_row(form.client) }}</div>
</div>
<div class="row">
	<div class="col">{{ form_row(form.quarter) }}</div>
	<div class="col">{{ form_row(form.imageFile) }}</div>
	<div class="col">{{ form_row(form.sold) }}</div>
</div>

{{ form_rest(form) }}
<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
