{% extends 'base.html.twig' %}


{% block body %}
	<div class="p-5 mb-4 bg-light rounded-3 d-flex flex-column align-items-center">
		<p class="fs-5 text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea soluta quam, vero delectus dignissimos facilis non quos laborum exercitationem officia necessitatibus optio, eveniet aut alias culpa, nihil eum consequatur! Beatae.</p>
	</div>

	<div class="container">
		<h1 class="fs-1 fw-bold">Tous nos biens</h1>
		<div class="row">
			{% for housing in housings %}
				<div class="col-lg-4">
					<div class="text-center">
						<a href="{{ path('app_view_housing', {slug: housing.slug, id: housing.id}) }}">
							{% if housing.filename  %}
								<img src="{{ vich_uploader_asset(housing, 'imageFile') }}" alt="Image" style="width: 300px; heigth: 240px">
							{% else %}
								<img src="/images/housings/empty.jpg" alt="Image" style="width: 300px; height: 240px">
							{% endif %}
							<div class="card-body text-center">
								<h5 class="housing__title card-title">
									<a href="{{ path('app_view_housing', {slug: housing.slug, id: housing.id}) }}" class="fw-bold text-decoration-none">{{ housing.title }}</a>
								</h5>
								<p style="margin-bottom: 0px;">{{housing.quarter.quarterName}}
									-
									{{ housing.bedrooms }}
									chambres
								</p>
								<div class="fw-bold fs-3 mb-4">{{ housing.formattedPrice }}
									Fg</div>
							</div>
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="pagination mt-4">
			{{ knp_pagination_render(housings) }}
		</div>

	</div>
{% endblock %}
