{% extends 'base.html.twig' %}


{% block body %}
	<div class="p-5 mb-4 bg-light rounded-3 d-flex flex-column align-items-center">
		<p class="fs-5 text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea soluta quam, vero delectus dignissimos facilis non quos laborum exercitationem officia necessitatibus optio, eveniet aut alias culpa, nihil eum consequatur! Beatae.</p>
	</div>

	<div class="container">
		<h1 class="fs-1 fw-bold">Tous nos biens</h1>
		<div class="row">
			{% for housing in housings %}
				<div class="col-md-3">
					<div class="card mt-4">
						{% if housing.filename  %}
							<img src="{{ vich_uploader_asset(housing, 'imageFile') }}" alt="Image">
						{% else %}
							<img src="/images/housings/empty.jpg" alt="Image">
						{% endif %}
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{ path('app_view_housing', {slug: housing.slug, id: housing.id}) }}" class="fw-bold text-decoration-none">{{ housing.title }}</a>
							</h5>
							<p class="card-text">{{ housing.quarter.quarterName }}
								-
								{{ housing.bedrooms }}
								chambres
							</p>
							<div class="text-primary fw-bold fs-3">{{ housing.formattedPrice }}
								Fg</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="pagination mt-4">
			{{ knp_pagination_render(housings) }}
		</div>

	</div>
{% endblock %}
