{% extends 'base.html.twig' %}

{% block title %}Hello ViewHousingController!
{% endblock %}

{% block body %}
	<div class="p-5 mb-4 bg-light rounded-3">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					{% if housing.filename %}
						<img src="{{ vich_uploader_asset(housing, 'imageFile') }}" alt="Image" style="width: 100%; height: 450px;">
					{% else %}
						<img src="/images/housings/empty.jpg" alt="Image" style="width: 100%; height: 450px;">
					{% endif %}
				</div>
				<div class="col-md-4">
					<h1>{{ housing.title }}</h1>
					<h2>{{ housing.numberOfRooms }}
						pièces
					</h2>
					<div class="text-primary fs-1 fw-bold">{{ housing.formattedPrice }}
						€</div>
					<a href="#" class="btn btn-primary">Contacter l'agence</a>
					<div id="contactForm" class="mt-4">
						{{ form_start(form) }}
						<div class="row">
							<div class="col">{{ form_row(form.firstname) }}</div>
							<div class="col">{{ form_row(form.lastname) }}</div>
						</div>

						<div class="row">
							<div class="col">{{ form_row(form.phone) }}</div>
							<div class="col">{{ form_row(form.email) }}</div>
						</div>
						{{ form_widget(form) }}
						<div class="form-group">
							<button class="btn btn-primary">Envoyer</button>
						</div>
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="container mt-4">
		<p>
			{{ housing.housingDescription | nl2br }}
		</p>
		<div class="row">
			<div class="col-md-8">
				<h2>Caractéristiques</h2>
				<table class="table table-striped">
					<tr>
						<td>Pièces</td>
						<td>{{ housing.numberOfRooms }}</td>
					</tr>
					<tr>
						<td>Chambres</td>
						<td>{{ housing.bedrooms }}</td>
					</tr>
					<tr>
						<td>Prix</td>
						<td>{{ housing.formattedPrice }}
							Fg</td>
					</tr>
				</table>
			</div>
			<div class="col-md-4">
				<h2>Spécificités</h2>
			</div>
		</div>
	</div>
{% endblock %}
